<div class="container">
  <div class="title">Estate.</div>
  <div class="sub-container">
    <div class="subtitle">Graph of Real Estate License Reciprocity.</div>
    <div class="subtitle">Many states offer license reciprocity but not all. If you move states, you might not have to start from scratch. Find the state you are moving to and if the state is connected to it then you can get license reciprocity </div>
    <div class="toolbar">
      <div class="toolbar-text">If you are from</div>
      <mat-form-field appearance="fill">
        <mat-label>Type a state...</mat-label>
        <input matInput class="state-input">
      </mat-form-field>
      <div class="toolbar-text">, you get license license reciprocity from...</div>
    </div>
  </div>
</div>
