.title {
  font-family: 'Noto Serif JP', serif;
  font-size: 40px;
  font-weight: bold;
}

.subtitle {
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
  margin-top: 15px;
  max-width: 1000px;
}

.sub-container {
  padding: 50px 0;
}

.container {
  padding: 50px 100px;
}

.state-input {
  padding: 5px 10px;
  font-size: 18px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  align-items: center;

  .toolbar-text {
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
  }

  mat-form-field {
  margin: 0 30px 0 10px;

    .mat-form-field-wrapper{
      padding-bottom: 0;
    }
    .mat-form-field-infix {
      padding-top: 0;
      border-top: none;
    }
  }
  
}